body{
  font-family: "Verdana", sans-serif;
}
img.bio {
  float: right;
  border:3px solid black;
  margin: 10px;
  margin-top: -50px;
}
.whats-up-guys-moe-tv-here {
  margin: auto;
  width: 48%;
}
.error {
  background-color: salmon;
  font-family: impact;
}
